.drum-controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    margin-left: 40px;

}

.drum-controls-container #display {
    width: 200px;
    background-color: var(--light-purple-gradient);
    margin: 15px auto;
    padding: 15px;
}